:root {
    --primary-color: #EDEDED;
    --secondary-color: #DA0037;
    --font-color: #e1e1ff;
    --bg-color: #171717;
    --heading-color: #818cab;
}
a:link, a:visited {
    color: var(--primary-color);
    text-decoration: none;
}
a:hover {
    color: var(--secondary-color);
}
body{
    height: 80%;
}
div.midSec{
    display: table;
    margin-top: 10%;
    width: 69%;
    padding-left: 30%;
    height: 30%;
    text-shadow: 1px 1px  var(--font-color);
    line-height: 1;
}
#backButton{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
    color: var(--primary-color);
    margin-top: 2%;
    height: 20%;
    text-shadow: 1px 1px  var(--font-color);
}
#instagramLink {
    font-family: 'Roboto', sans-serif;
    display: table-row;
    font-size: 130px;
    text-align: left;
    color: var(--primary-color);
}

#instagramLink .text-highlight {
    display: none;
}
#instagramLink:hover .text-highlight {
    display: inline;
}
#instagramLink:hover .text-normal {
    display: none;
}
#linkedinLink {
    font-family: 'Roboto', sans-serif;
    display: table-row;
    font-size: 125px;
    text-align: left;
    color: var(--primary-color);
}
#linkedinLink .text-highlight {
    display: none;
}
#linkedinLink:hover .text-highlight {
    display: inline;
}
#linkedinLink:hover .text-normal {
    display: none;
}
#githubLink {
    font-family: 'Roboto', sans-serif;
    display: table-row;
    font-size: 130px;
    text-align: left;
    color: var(--primary-color);
}
#githubLink .text-highlight {
    display: none;
}
#githubLink:hover .text-highlight {
    display: inline;
}
#githubLink:hover .text-normal {
    display: none;
}
span{
    letter-spacing: -10px;
}
span:hover {
    letter-spacing: -5px;
    transition: letter-spacing 0.5s;
}
