@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --primary-color: #1d3557;
    --secondary-color: #e63946;
    --font-color: #ECAF44;
    --bg-color: #f1faee;
    --heading-color: #BE2F29;
}
[data-theme="dark"] {
    --primary-color: #EDEDED;
    --secondary-color: #DA0037;
    --font-color: #e1e1ff;
    --bg-color: #171717;
    --heading-color: #818cab;
}

body {
    background-color: var(--bg-color);
}

div.name{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.nameText {
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    text-align: center;
    color: var(--primary-color);
    
}


@media screen and (max-width: 1080px) {
    div.nameText {
        font-size: 55px;
    }
}


