@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --primary-color: #1d3557;
    --secondary-color: #e63946;
    --font-color: #ECAF44;
    --bg-color: #f1faee;
    --heading-color: #BE2F29;
}
[data-theme="dark"] {
    --primary-color: #EDEDED;
    --secondary-color: #DA0037;
    --font-color: #e1e1ff;
    --bg-color: #171717;
    --heading-color: #818cab;
}
html,
body {
    background-color: var(--bg-color);
    height: 98%;
    width: auto;
}

div.sideMenu {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    text-align: center;
    font-size: x-large;
    text-shadow: 1px 1px  var(--font-color);
}

div.topBar {
    border-style: double;
    border-color:  var(--bg-color);
    float: right;
    width: 100%;
    height: 10%;
}

div.midSec{
    border-style: double;
    border-color: var(--bg-color);
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#workXp{
    border-style: double;
    border-color: var(--bg-color);
    width: 20%;
    height: 100%;
    font-size: x-large;
    transform: rotate(-90deg) translateX(0%) translateY(35%);
}
div.nameHolder{
    float: left;
    width: 100%;
    border-style: double;
    border-color: var(--bg-color);
}
#nameText {
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    text-align: center;
    color: var(--primary-color);
}
#personalProjects{
    border-style: double;
    border-color: var(--bg-color);
    float: right;
    width: 15%;
    height: 100%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding-right: 3%;
}

div.bottomSec {
    border-style: double;
    border-color: var(--bg-color);
    height: 15%;
    float: left;
    text-align: center;
    width: 100%;
}
#contact {
    margin-top: 3%;
}

@media screen and (max-width: 741px) {
    #nameText {
        font-size: large;
    }
    div.sideMenu {
        font-size: x-small;
    }
    div.nameHolder{
        transform: translateX(-15%) translateY(0%);
    }
    #workXp{
        transform: rotate(-90deg) translateX(0%) translateY(-42%);
        width: 50%;
        height: 10%;
        font-size: x-small;
    }
    div.topBar {
        height: 5%;
    }

}


